<app-action-bar
  [title]="title"
  [showBackButton]="false"
  [hasMenu]="true"
></app-action-bar>

<StackLayout>
<TabView androidTabsPosition="bottom">
  <StackLayout *tabItem="{ title: 'Profile', iconSource: 'res://check' }">
    <page-router-outlet name="profile"> </page-router-outlet>
  </StackLayout>
  <StackLayout *tabItem="{ title: 'Adresse', iconSource: 'res://check' }">
    <page-router-outlet name="adresse"> </page-router-outlet>
  </StackLayout>
  <StackLayout
    *tabItem="{ title: 'Location', iconSource: 'res://trophy' }"
  >
    <page-router-outlet name="location"> </page-router-outlet>
  </StackLayout>
</TabView>
<FlexboxLayout justifyContent="center" alignItems="center">
  <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</FlexboxLayout>
</StackLayout>
