
<!-- <p>nav works!</p>-->
<div class="row">

    <!-- COLONNE 1 -->
    <div class="col-sm-4 text-center">
        <a *ngIf="auth.isLoggedIn()" href="home"><h1>{{ titleCompo }}</h1></a>
    </div>

    <!-- COLONNE 2 -->
    <div class="col-sm-4 text-center"></div>

    <!-- COLONNE 3 -->
    
    <!-- IF CONNEXION = EXTRA :  AFFICHER ÇA ! -->
    <div *ngIf="auth.isLoggedIn()" class="col-sm-4 text-center">

        <p><input  class="icon"  [matMenuTriggerFor]="profil" 
            type="image" src="../../assets/images/profil.png" alt="icône de Profil"></p>

            <mat-menu #profil="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="compteE">PROFIL</button>
            </mat-menu>

            <mat-menu #compteE="matMenu">
                <button mat-menu-item (click)="onProfile()">GERER</button>
                <button mat-menu-item>SUPPRIMER</button>
            </mat-menu>

        
        <div *ngIf="this.auth.isExtra()">
            <!-- <p><input  class="icon"  [matMenuTriggerFor]="profilE" 
            type="image" src="../../assets/images/profil.png" alt="icône de Profil"></p> -->
            <button class="nav" mat-button [matMenuTriggerFor]="menuE">EXTRA</button> 

        
            <mat-menu #menuE="matMenu">
                
                <button mat-menu-item [matMenuTriggerFor]="missionsE">MISSIONS</button>
                <button mat-menu-item (click)="onDispo()">DISPOS</button>

                <!-- <mat-menu #profilE="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="compteE">PROFIL</button> -->
                

                    <mat-menu #missionsE="matMenu">
                        <button mat-menu-item>A VENIR</button>
                        <button mat-menu-item>A VALIDER</button>
                        <button mat-menu-item>REALISEES</button>
                    </mat-menu>
            
                    <!-- <mat-menu #compteE="matMenu">
                        <button mat-menu-item (click)="onProfile()">GERER</button>
                        <button mat-menu-item>SUPPRIMER</button>
                    </mat-menu> -->
                </mat-menu>

            <!-- </mat-menu>  -->
        </div>
    

        


    <!-- IF CONNEXION = PROPRIO :  AFFICHER ÇA ! -->

    
        <div *ngIf="this.auth.isPropr()">

            <!-- <p><input class="icon" [matMenuTriggerFor]="profilP" 
            type="image" src="../../assets/images/profil.png" alt="icône de Profil"></p> -->
            <button class="nav" mat-button [matMenuTriggerFor]="menuP">PROPRIO</button>


            <mat-menu #menuP="matMenu">
               
                <button mat-menu-item [matMenuTriggerFor]="etablissementP">MES ETABLISSEMENTS</button>
                <button mat-menu-item [matMenuTriggerFor]="missionP">MISSION</button>
                <button mat-menu-item [matMenuTriggerFor]="gerantP">GERANT</button>
                

                
                <!-- <mat-menu #profilP="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="compteP">PROFIL</button>
             

                    <mat-menu #compteP="matMenu">
                        <button mat-menu-item>GERER</button>
                        <button mat-menu-item>SUPPRIMER</button>
                    </mat-menu> -->

                    <mat-menu #etablissementP="matMenu">
                        <button mat-menu-item (click)="onEtablissement()">CREER</button>
                        <button mat-menu-item (click)="onEtablissement()">SUPPRIMER</button>
                        <button mat-menu-item (click)="onEtablissement()">LISTE</button>
                    </mat-menu>

                    <mat-menu #missionP="matMenu">
                        <button mat-menu-item (click)="onMisCreate()">CREER</button>   
                        <button mat-menu-item (click)="onMisMod()">MODIFIER</button>
                        <button mat-menu-item (click)="onMisVal()">VALIDER</button>
                        <button mat-menu-item (click)="onMisDel()">SUPPRIMER</button>
                        <button mat-menu-item (click)="onMisList()">LISTE</button>
                    </mat-menu>

                    <mat-menu #gerantP="matMenu">
                        <button mat-menu-item>LISTE</button>   
                        <button mat-menu-item (click)="onGerCreate()">CREER</button>
                        <button mat-menu-item>SUPPRIMER</button>
                    </mat-menu>
                </mat-menu>
                
            <!-- </mat-menu> -->
        </div>
    

    



        <!-- IF CONNEXION = GERANT :  AFFICHER ÇA !-->

        <div *ngIf="this.auth.isGeran()">

            <!-- <p><input class="icon" [matMenuTriggerFor]="profilG" 
            type="image" src="../../assets/images/profil.png" alt="icône de Profil"></p> -->
            <button class="nav" mat-button [matMenuTriggerFor]="menuG">GERANT</button>


                <mat-menu #menuG="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="missionG">MISSION</button>
                
                <!-- <mat-menu #profilG="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="compteG">PROFIL</button> -->

                    <!-- <mat-menu #compteG="matMenu">
                        <button mat-menu-item>GERER</button>
                        <button mat-menu-item>SUPPRIMER</button>
                    </mat-menu> -->


                    <mat-menu #missionG="matMenu">
                        <button mat-menu-item>CREER</button>
                        <button mat-menu-item>MODIFIER</button>
                        <button mat-menu-item>VALIDER</button>
                        <button mat-menu-item>SUPPRIMER</button>
                        <button mat-menu-item (click)="onMisList()">LISTE</button>
                    </mat-menu>

                </mat-menu>
            <!-- </mat-menu> -->

        </div>
    </div>

 