<app-action-bar
  [title]="title"
  [hasMenu]="true"
></app-action-bar>


<StackLayout>
  <Button text="just testing"></Button>
  </StackLayout>
  <StackLayout>
  <app-action-bar
    [title]="title"
    [hasMenu]="true"
  ></app-action-bar>
  </StackLayout>
  
  <StackLayout>
  <p>profile works!</p>
  </StackLayout>
  <StackLayout>
  <Button text="just testing"></Button>
  </StackLayout>
  



