// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on Android here
ActionBar {
    background-color: $lt-background-color;
}
.btnText {
    font-size : 20em;
}