<!-- FOOTER -->

      <div class="text-center">
        <a href="index.html">Home</a>
        <p>design by :  <a href="#" target="_blank"><strong>Les Tontons Codeurs</strong></a></p>
      </div>
   

