/* Add mobile styles for the component here.  */
@import "../../../../theme/colors";

.mdl-backdrop {
    /*The AbsoluteLayout that acts as backdrop to the dropdown*/
    background-color: lightgrey;
}
 
.mdl-pickerList {
    /*common styles for ALL dropdown lists*/
    height: 80;
    min-width: 60;
    background-color: white;
    border-color: blue;
    border-width: 1;
}
/*different styles for specific lists - remember ID is container's ID + _pickerList*/
#ddlColors_pickerList {
    border-color: silver;
}
 
#ddlShapes_pickerList {
    border-color: orange;
    border-width: 4;
    min-width: 80;
}
 
#ddlAuthors_pickerList {
    min-width: 200;
}
 
#ddlShapes_pickerList label {
    /*If a custom itemsTemplate is not used, ListView defaults to a Label*/
    padding-top: 4;
    padding-bottom: 4;
    padding-left: 2;
    color: blue;
}
.btnS {
    font-size : 15rem;
    color: black;
    
}
GridLayout {
    background-color: $lt-background-color;
}
DropDown {
    // background-color: $lt-background-color;
    // color: black;
    padding-left: 7;
    // font-size: 2rem;
}
