    <GridLayout rows="auto, auto, auto, *"
                columns="auto, *">
        <DropDown #dd
            class="btnText";
            [items]="categories"
            [hint]="hint"
            (selectedIndexChanged)="dropDownSelectedIndexChanged($event)"
            opened="dropDownOpened" closed="dropDownClosed"
            selectedIndex="{{ selectedCategorieIndex }}" 
            row="0"
            col="0"
            colSpan="2"
            isEnabled="{{ !readOnly }}"
        ></DropDown>
    </GridLayout>