<form class="form" [formGroup]="categorieForm">
    <select (change)="callCat($event)" formControlName="categorieControl">
      <option [value]="categorie" *ngFor="let categorie of categories">
                      {{ categorie }}</option>
    </select>
</form>
  