/* Add mobile styles for the component here.  */
/* Add mobile styles for the component here.  */
@import '../../../../theme/colors';

ActionBar {
  margin-top: 5;
}
.action-bar {
  margin-top: 5;
  width: 100%;
  height: 78px;
  background: $primary;
  box-sizing: border-box;

  .title {
    color: white;
    margin: 0;
    padding: 8px 0;
    text-align: center;
    font-size: 20px;
  }

  nav {
    height: calc(100% - 36px);
  }

  ul {
    height: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  li {
    flex-shrink: 0;
    margin: 0 8px;
  }

  a,
  button {
    text-decoration: none;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    font: inherit;
    cursor: pointer;
    background: transparent;
    border: none;
  }

  a:hover,
  a:active,
  a.active,
  button:hover,
  button:active {
    background: white;
    color: $primary;
  }
}
